#special{
color: rgb(83, 80, 47);
}
#hobby{
color: rgb(112, 21, 21);
}
#guess{
color: rgb(150, 143, 54);

}
#HOBBY{
color:rgb(75, 17, 1)
}
.future{
color:rgb(83, 80,47)
}
*{
    padding-right:10px ;
}  
p{
  text-align: left;
}